.wrapper {
  overflow: hidden;
  width: 100%;
  .page-wrapper {
    position: fixed;
    width: calc(100% - 240px);
    height: 100%;
    padding: 95px 25px 25px;
    margin-left: 240px;
    background: #f4f6f9;
    // .container-fluid {
    //   padding: 25px 25px;
    //   height: 100%;
    // }
  }
}
