<aside class="aside">

    <ul class="aside__list">

        <li class="aside__title">
            LOGO
        </li>
        <li class="aside__profile">

            <img
                class="aside__profile__avatar"
                src="https://thumbs.dreamstime.com/t/icono-de-la-muestra-del-usuario-s%C3%ADmbolo-de-la-persona-avatar-humano-84519083.jpg">
            <label class="aside__profile__name">
                Jeancarlos
            </label>

        </li>
        <li class="aside__list-item">
            <a 
                class="aside__item-link nav__link--selected"
                routerLinkActive="active" 
                routerLink="clients" 
            >
                Clientes
            </a>
        </li>
        <li class="aside__list-item">
            <a 
                class="aside__item-link"
                routerLinkActive="active" 
                routerLink="tasks" 
            >
                Mis tareas
            </a>
        </li>
        <li class="aside__list-item">
            <a 
                class="aside__item-link"
                routerLinkActive="active" 
                routerLink="reports" 
            >
                Mis reportes
            </a>
        </li>
        <li class="aside__list-item">
            <a 
                class="aside__item-link nav__link--selected"
                routerLinkActive="active" 
                routerLink="account" 
            >
                Mi cuenta
            </a>
        </li>
        <li class="aside__list-item">
            <a 
                class="aside__item-link"
                routerLinkActive="active" 
                routerLink="help" 
            >
                Ayuda
            </a>
        </li>
        <li class="aside__list-item aside__list-item--decoration">
            <a 
                class="aside__item-link"
                routerLinkActive="active" 
                routerLink="logout" 
            >
                Cerrar sesión
            </a>
        </li>

    </ul>

</aside>
