.aside {
  // position: fixed;
  // z-index: 20;
  // top: 0px;

  width: 240px;
  @apply text-white;
  @apply h-full;

  &__list {
    padding: 0px;
    margin: 0px;
    background: #999999;
    // height: 100%;
    @apply h-full;
  }

  &__first-list {
    // padding: 0px;
    // margin: 0px;
    // background: #999999;
  }
  &__title {
    display: flex;
    height: 12.7%;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    &:focus {
      outline: 0;
    }
  }

  &__profile {
    display: flex;
    height: 14.65%;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    // background: #C4C4C4;

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &__name {
      padding-left: 12px;
    }
    &:focus {
      outline: 0;
    }
  }

  &__list-item {
    display: flex;
    height: 8.6%;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    &:focus {
      outline: 0;
    }
  }
  @media (max-width: 768px) {
    &__list-item {
      height: 15%;
    }
    &__list-item--decoration {
      text-decoration: underline;
      margin-top: 70px !important;
    }
  }

  &__list-item--decoration {
    text-decoration: underline;
    margin-top: 90px;
  }
  &__list-item--selected {
    background: #c4c4c4;
  }
}
@media (max-width: 768px) {
  .aside-decoration {
    @apply w-full;
  }
  .aside__title-decoration {
    display: none;
  }
  .aside__profile-decoration {
    display: none;
  }
}
