body {
  color: #5f5f5f;
  .dashboard__title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  button {
    border-radius: 4px;
    align-self: flex-start;
    margin: 0px 0px;
    // @apply bg-yellow-500;
    @apply px-8;
    @apply py-3;
    // @apply font-prelo;
    @apply font-semibold;
    @apply rounded-md;
    border: 1px solid #5f5f5f;
    margin-bottom: 20px;
    @apply w-full;
  }
  .content {
    margin-bottom: 40px;
  }
  .decoration {
    color: #b9b9b9;
  }
  .search {
    background: #5f5f5f;
    color: white;
  }
}

// @screen sm {

//   .button {
//     @apply w-full;
//   }

// }
