<body>

    <h1>
        Bienvenido, Pepito
    </h1>

    <p>
        Ingresa los datos del cliente para realizar una consulta
    </p>

    <div *ngFor="let boton of botones">
        <button>
            {{boton}}
        </button>
    </div>

    <!-- <div>
        <button>
            Tipo de documento
        </button>
    </div>

    <div>
        <button>
            Ingresa nro de documento
        </button>
    </div>

    <div>
        <button>
            BUSCAR
        </button>
    </div> -->

</body>
